ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  skip: [poetry-lock, poetry-export, pytest, pytest-cov]

default_language_version:
  python: python3.8

# TODO: Add check for yaml
repos:
  - repo: https://github.com/python-poetry/poetry
    rev: "1.2.2" # needs to be 1.2.2
    hooks:
      - id: poetry-check
        name: check poetry (poetry-check)
        always_run: true

      - id: poetry-lock
        name: lock poetry (poetry-lock)
        always_run: true

      - id: poetry-export
        name: export poetry (poetry-export)
        args: ["-f", "requirements.txt", "-o", "requirements.txt"]
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
        name: check case conflict (check-case-conflict)
        always_run: true
      - id: check-merge-conflict
        name: check merge conflict (check-merge-conflict)
        always_run: true
      - id: check-yaml
        name: check yaml (check-yaml)
        exclude: mkdocs.yaml
        stages: [commit, push]
        types: [yaml]
      - id: check-json
        name: check json (check-json)
        stages: [commit, push]
        types: [json]
      - id: check-added-large-files
        name: check added large files (check-added-large-files)
        stages: [commit, push]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: sort imports (isort)
        stages: [commit, push]
        types: [python]

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: format python code (black)
        stages: [commit, push]
        types: [python]

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        name: check code style (flake8)
        stages: [commit, push]
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.982
    hooks:
      - id: mypy
        name: check types (mypy)
        stages: [commit, push]
        types: [python]
        additional_dependencies: [types-requests]
        require_serial: true

  - repo: local
    hooks:
      - id: pytest
        name: run pytest (pytest)
        language: system
        entry: poetry run pytest
        pass_filenames: false
        always_run: true

      # TODO: Change percentage to 80
      - id: pytest-cov
        name: check pytest coverage (pytest-cov)
        language: system
        entry: poetry run pytest --cov --cov-fail-under=50
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: format files (prettier)
        stages: [commit, push]
        exclude_types: [python]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
      - id: pyupgrade
        name: upgrade python code (pyupgrade)
        stages: [commit, push]
        args: [--py38-plus]
        always_run: true
